body {
    font-family: Arial, sans-serif;
    background-image: url(https://wallpapercave.com/wp/wp3278122.jpg);
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Hedvig Letters Serif', serif;
font-family: 'Rubik', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a img {
    height: 40px;
    width: auto;
}

.top-countries-btn {
    margin-top: 5px;
    position: fixed;
    margin-left:6%; 
    
}

.navbar a {
    color: rgb(208, 255, 208);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: rgb(208, 255, 208);
    color: green;
}

hr {
    height: 12px;
    background-color: rgb(142, 255, 142);
    filter: blur(1px);
    margin: 0;
}

.search-container {
    text-align: center;
}

.search-bar {
    display: inline-block;
    margin-top: 13%; 
  
}

.search-bar input[type=text] {
    padding: 6px;
    border-radius: 20px;
    width: 1000px;
    max-width: 1800px;
    height: 25px;
}

.content-box {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    width: 100%;
    flex-direction: row;
}

.content-image {
    float: left;
    margin: 15px;
    margin-bottom: -15px;
}

.home-content {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: x-large;
    margin-right: 15px;
    margin-left: 15px;
}
.rotate {
    transition: transform 1s ease-in-out;
  }

  .rotate.clicked {
    transform: rotate(360deg);
  }

  
  .search-bar {
    margin-bottom: 20px;
    position: relative;
  }

 
  
  #results li {
    margin-bottom: 0;
    padding: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  #results li:hover {
    background-color: #f9f9f9;
  }
  
#results {
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: #C8F780;
    opacity: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
    display: none;
    border-radius: 25px;
}
